<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
<context:property-placeholder location="classpath:sports.properties"/>
	
<bean id="myFortune" class="com.Springdemo.HappFortuneService"></bean>    
<bean id="myCoach" class="com.Springdemo.CricketCoach">
<property name="fortuneService" ref="myFortune"></property>
<property name="name" value="${foo.name}"></property>
<property name="points" value="${foo.points}"></property>
</bean>
 
 <bean id="myRandomFortune" class="com.Springdemo.RandomFortuneService"></bean>
<bean id="myNewCoach" class="com.Springdemo.CricketCoach">
<property name="fortuneService" ref="myRandomFortune"></property>
<property name="name"><value>Chennai Super Kings</value></property>
<property name="points" value="12"></property>
</bean>

</beans>